<div class="top-banner">
    <div>RFP Wizard</div>
    <i class="fa fa-magic pl-2"></i>
</div>  
  

  

<main>
    <div class="row mb-2 mt-5">
        <div class="col-lg-8 offset-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="inputGroupFile" required (change)="handleImport($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label class="custom-file-label" for="inputGroupFile">
                                Upload 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <button (click)="handleExport()" class="btn btn-primary float-right ml-1" [disabled]="movies.length == 0">
                        Export <i class="fa fa-download"></i>
                    </button>
                    <button (click)="generateResponses()" class="btn btn-primary float-right" >
                        Do your magic! <i class="fa fa-magic"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-2">
            <table class="table table-striped"  #myElement>
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%;">
                            <button (click)="addRowStart()" class="btn btn-primary float-right">
                                <i class="fa fa-plus"></i>
                            </button>
                        </th>
                        <th scope="col">Question</th>
                        <th scope="col">Answer</th>
                        <!-- <th scope="col">Category</th>
                        <th scope="col">Sub-Category</th>
                        <th scope="col">Accuracy</th> -->
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="movies.length">
                        <tr *ngFor="let movie of movies; let i = index" >
                            <th scope="row">{{ i }}</th>
                            <td>
                                <textarea id="question-{{i}}" (ngModelChange)="onTextareaChange($event)"  class="question" type="text" [(ngModel)]="movie.question"></textarea>
                            </td>
                            <td>
                                <textarea id="response-{{i}}" (ngModelChange)="onTextareaChange($event)"  class="question" type="text" [(ngModel)]="movie.answer"></textarea>
                            </td>
                            <!-- <td>
                                <input type="text" [(ngModel)]="movie.category"/>
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="movie.subCategory"/>
                            </td>
                            <td><span class="badge bg-warning text-dark">{{ i + 1 }}</span></td> -->
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</main>

