.correct-1 {
    background-color: #f6c5cb;
  }
  
  .correct-2 {
    background-color: #f5c6ca;
  }
  
  .correct-3 {
    background-color: #f4c7c9;
  }
  
  .correct-4 {
    background-color: #f3c8c8;
  }
  
  .correct-5 {
    background-color: #f2c9c7;
  }
  
  .correct-6 {
    background-color: #f1cac6;
  }
  
  .correct-7 {
    background-color: #f0cbc5;
  }
  
  .correct-8 {
    background-color: #efccc4;
  }
  
  .correct-9 {
    background-color: #eecdc3;
  }
  
  .correct-10 {
    background-color: #edcec2;
  }
  
  .correct-11 {
    background-color: #eccfc1;
  }
  
  .correct-12 {
    background-color: #ebd0c0;
  }
  
  .correct-13 {
    background-color: #ead1bf;
  }
  
  .correct-14 {
    background-color: #e9d2be;
  }
  
  .correct-15 {
    background-color: #e8d3bd;
  }
  
  .correct-16 {
    background-color: #e7d4bc;
  }
  
  .correct-17 {
    background-color: #e6d5bb;
  }
  
  .correct-18 {
    background-color: #e5d6ba;
  }
  
  .correct-19 {
    background-color: #e4d7b9;
  }
  
  .correct-20 {
    background-color: #e3d8b8;
  }
  
  .correct-21 {
    background-color: #e2d9b7;
  }
  
  .correct-22 {
    background-color: #e1dab6;
  }
  
  .correct-23 {
    background-color: #e0dbb5;
  }
  
  .correct-24 {
    background-color: #dfdcb4;
  }
  
  .correct-25 {
    background-color: #deddb3;
  }
  
  .correct-26 {
    background-color: #dddeb2;
  }
  
  .correct-27 {
    background-color: #dcdfb1;
  }
  
  .correct-28 {
    background-color: #dcdfb0;
  }
  
  .correct-29 {
    background-color: #dbdfaf;
  }
  
  .correct-30 {
    background-color: #dadeae;
  }
  
  .correct-31 {
    background-color: #d9dfad;
  }
  
  .correct-32 {
    background-color: #d8dfa9;
  }
  
  .correct-33 {
    background-color: #d7dea5;
  }

  .correct-34 {
    background-color: #d7dea5;
  }


  tr td, tr th {
    text-align: center;
  }





  /*  */




/* (Just ignore)top banner style */
.top-banner {
  margin-bottom: 30px;
  text-align: center;
  background-color: #ea4c4c;
}

.top-banner a, .top-banner span {
  display: inline-block;
}

.top-banner a {
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  color: rgba(255, 255, 255, .8);
}

.top-banner span{
  width: 50px;
  heigth: 28px;
  line-height: 28px;
  background-color: #a1c45a;
  border-radius: 20px;
}

.top-banner a:hover {
  color: #fff9e0;
}
